.container {
  max-width: 500px;
  margin: 0 auto;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.table {

  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  list-style: none;
}

.table li {
  display: flex;
  align-items: center;
  justify-content: space-around;
}